In [ ]:
numbers
strings (text)
lists (javascript - array)
dictionaries
tuples
sets

In [1]:
#numbers (integers (means whole numbers - 908, float (means decimal point) - 1.4)
number_one = 908
float_one = 9.8

In [2]:
type(number_one)

int

In [3]:
type(float_one)

float

In [4]:
#We can start a string using single quotation ' ' or double quotation " "
my_text = 'Hi, my name is Aslam Sikder'

In [5]:
type(my_text)

str

In [7]:
my_list = [3, 4, 'Hi', 3.4, [1,[2,3,4],5]]

In [8]:
type(my_list)

list

In [9]:
print(my_list)

[3, 4, 'Hi', 3.4, [1, [2, 3, 4], 5]]

In [10]:
my_dict = {'Aslam':1001, 'Ashfika':1002, 'Musfica':1003}

In [11]:
type(my_dict)

dict

In [12]:
print(my_dict)

{'Aslam': 1001, 'Ashfika': 1002, 'Musfica': 1003}

In [13]:
320+35.55

355.55

In [14]:
a = 'Hi'
b = ' Aslam'

In [15]:
a+b

'Hi Aslam'

In [16]:
#But it is not possible to add a number & a string
print('hi' + 7)

TypeError: can only concatenate str (not "int") to str

In [20]:
#So, we need type casting
my_str = 'Hi '
my_num = 7

In [21]:
print(my_str + str(my_num))

Hi 7