In [ ]:
'''
- Tuples () - we can not assign value to the existing index
- Set {} -  we use for unique valus
'''

In [2]:
my_list = [1, 2, 3, 4, 5, 6]

In [3]:
my_list[2] = 25

In [4]:
print(my_list)

[1, 2, 25, 4, 5, 6]

In [1]:
my_tuples = (1, 2, 3, 4, 5, 6)
print(my_tuples)

(1, 2, 3, 4, 5, 6)

In [5]:
#Not possible to assign value
my_tuples[2] = 35

TypeError: 'tuple' object does not support item assignment

In [8]:
my_set = {1, 1, 9, 9, 9, 2, 3, 4, 5, 'Aslam Sir', 'Aslam Sir', 300, 300, 300, 100, 100, 252, 264, 264}

In [9]:
print(my_set)

{1, 2, 3, 4, 5, 100, 'Aslam Sir', 264, 9, 300, 252}